<!DOCTYPE html>

<link href="CSS/templatemo_style.css" rel="stylesheet" type="text/css"/>
<body style="background:transparent; height: auto">
<div class="content_box">
    <h1> 黑铁选手 <span>在此！</span></h1>
    <p>2019年的某一天，或者说某一段时间，我准备毕业了，开始面对生活的压力。只见我二话不说冲上去对着租房就是一锤子，好家伙，直接一锤子把我天灵盖打翻了。</p><br>
    <p>被生活暴打一顿的我倒不至于放弃，但是开始静下心来寻思着如何活下去，并把自己的进步记录下来，这才是我现在要做的。</p>
</div>

<div class="post_box">
    <div class="header">
        <h2><a href="#">Cum sociis natoque penatibus et magnis</a></h2>
        <div class="tag"><strong>Tags:</strong> <a href="#">Photography</a>, <a href="#">Free Photos</a>, <a
                href="#">HDR</a></div>
        <span class="posted_date">
                    25 Feb
                    <strong>2010</strong>
                </span>
    </div>
    <img src="images/templatemo_image_01.jpg" alt="image"/>
    <div class="pb_right">
        <p>Praesent mattis varius quam. Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget
            ante. Nunc commodo, magna pharetra semper vehicula, dui ligula feugiat elit, et euismod nunc orci ut
            libero. Etiam sodales massa vel metus. Mauris et elit quis mauris aliquet luctus.</p>
        <div class="comment"><a href="#">Comment</a></div>
    </div>
</div>
<div class="cleaner"></div>
</body>
