
<body>

<div id="templatemo_main"><span class="tm_bottom"></span>

        <div class="post_box">
            <div class="header">
                <h2><a href="#">Cum sociis natoque penatibus et magnis</a></h2>
                <div class="tag"><strong>Tags:</strong> <a href="#">Photography</a>, <a href="#">Free Photos</a>, <a
                        href="#">HDR</a></div>
                <span class="posted_date">
                    25 Feb
                    <strong>2010</strong>
                </span>
            </div>
            <img src="images/templatemo_image_01.jpg" alt="image"/>
            <div class="pb_right">
                <p>Praesent mattis varius quam. Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget
                    ante. Nunc commodo, magna pharetra semper vehicula, dui ligula feugiat elit, et euismod nunc orci ut
                    libero. Etiam sodales massa vel metus. Mauris et elit quis mauris aliquet luctus.</p>
                <div class="comment"><a href="#">Comment</a></div>
            </div>
        </div>
        <div class="cleaner"></div>

    </div>



        <div class="sidebar_box">
            <h3>Categories</h3>
            <div class="sb_content">
                <ul class="sidebar_menu">
                    <li><a href="#">CSS Techniques</a></li>
                    <li><a href="#">Web Design Tips</a></li>
                    <li><a href="#">Best Wallpapers</a></li>
                    <li><a href="#">Free Fonts</a></li>
                    <li><a href="#">Photoshop Tutorials</a></li>
                    <li><a href="#">3D Animation Tutorials</a></li>
                </ul>
            </div>
        </div>

    </div> <!-- end of main -->
    <div class="cleaner"></div>
</div>


</body>
