<link href="CSS/templatemo_style.css" rel="stylesheet" type="text/css"/>
<body style="background:transparent;">

<div class="post_box">
    <div class="header">
        <h2><a href="#">Cum sociis natoque penatibus et magnis</a></h2>
        <div class="tag"><strong>Tags:</strong> <a href="#">Photography</a>, <a href="#">Free Photos</a>, <a
                href="#">HDR</a></div>
        <span class="posted_date">
                    25 Feb
                    <strong>2010</strong>
                </span>
    </div>
    <img src="images/templatemo_image_01.jpg" alt="image"/>
    <div class="pb_right">
        <p>Praesent mattis varius quam. Vestibulum ullamcorper ipsum nec augue. Vestibulum auctor odio eget
            ante. Nunc commodo, magna pharetra semper vehicula, dui ligula feugiat elit, et euismod nunc orci ut
            libero. Etiam sodales massa vel metus. Mauris et elit quis mauris aliquet luctus.</p>
        <div class="comment"><a href="#">Comment</a></div>
    </div>
</div>
<div class="cleaner"></div>

<div class="pages"><span>首页</span><span>上一页</span><span>1</span><span>下一页</span><span>尾页</span></div>
</body>
