<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>echartstest</title>
    <script src="/JS/lib/jquery/jquery-1.8.0.min.js"></script>
    <script src="/JS/lib/echarts/echarts.min.js"></script>
    <script src="/JS/lib/echarts/js/china.js"></script>
</head>
<body>
<div id="main" style="width: 1000px;height: 800px">
</div>

<script>


    var chart;
    var myChart;
    var option;

    myChart = echarts.init(document.getElementById('main'));
    /**
     * 实例1
     */

    myChart.setOption({

        tooltip: {
            trigger: 'item',
            triggerOn:'click',
            formatter: '{b}', //提示标签格式
            backgroundColor: "#ff7f50",//提示标签背景颜色
            textStyle: {color: "#fff"} //提示标签字体颜色

        },
        series: [{
            type: 'map',
            mapType: 'china',
            label: {
                normal: {
                    show: true,//显示省份标签
                    textStyle: {color: "#c71585"}//省份标签字体颜色
                },
                emphasis: {//对应的鼠标悬浮效果
                    show: true,
                    textStyle: {color: "#800080"}
                }
            },
            itemStyle: {
                normal: {
                    borderWidth: .5,//区域边框宽度
                    borderColor: '#009fe8',//区域边框颜色
                    areaColor: "#ffefd5",//区域颜色
                },
                emphasis: {
                    borderWidth: .5,
                    borderColor: '#4b0082',
                    areaColor: "#ffdead",
                }
            },
            data: [
                {name: '福建', selected: true}//福建为选中状态
            ]
        }]
    })

    /**
     * myChart.setOption({
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                crossStyle: {
                    color: '#999'
                }
            }
        },
        toolbox: {
            feature: {
                dataView: {show: true, readOnly: false},
                magicType: {show: true, type: ['line', 'bar']},
                restore: {show: true},
                saveAsImage: {show: true}
            }
        },
        legend: {
            data: ['蒸发量', '降水量', '平均温度']
        },
        xAxis: [
            {
                type: 'category',
                data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                axisPointer: {
                    type: 'shadow'
                }
            }
        ],
        yAxis: [
            {
                type: 'value',
                name: '水量',
                min: 0,
                max: 250,
                interval: 50,
                axisLabel: {
                    formatter: '{value} ml',
                    interval: 0,
                    rotate: 40
                },

                splitLine: {
                    lineStyle: {
                        color: ['#f00', '#f60'],
                        width: 1,
                        shadowBlur: 5,
                        shadowColor: '#000',
                        shadowOffsetX: 5,
                        shadowOffsetY: 5,
                        opacity: 0.5,
                        type: 'dashed'
                    }
                }
            },
            {
                type: 'value',
                name: '温度',
                min: 0,
                max: 25,
                interval: 5,
                axisLabel: {
                    formatter: '{value} °C'
                },
                splitLine: {
                    show: false
                }
            }
        ],

        visualMap: {

            show: false,

            type: 'piecewise',

            seriesIndex: 2,//控制series 对应的区域

            pieces: [{

                gt: 10,

                lte:20,

                color: '#2300eb'

            }],
            outOfRange: {
                color: '#03eb1a'
            }
        },
        series: [
            {
                name: '蒸发量',
                type: 'bar',
                data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                itemStyle: {
                    normal: {
                        color: '#df5aeb'
                    }
                }
            },
            {
                name: '降水量',
                type: 'bar',
                data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                itemStyle: {
                    normal: {
                        color: '#eb0808'
                    }
                }
            },
            {
                name: '平均温度',
                type: 'line',
                // smooth: true,
                yAxisIndex: 1,

                itemStyle: {
                    normal: {
                        color: ['#03eb1a']
                        // color: function (data) {
                        //     if (data.value > 10 && data.value < 20) {
                        //         return '#2300eb';
                        //     }
                        //     return '#03eb1a';
                        // }
                    }
                },
                data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2],
                markPoint:{
                    data:[
                        {type:'max',name:'最大值'},
                        {coord: [4,6.3],name:'ttttttt',value:6.3},
                        {type:'min',name:'最小值',symbol:'diamond'}//标记的图形
                    ]
                }
            }
        ]
    })
     */

    myChart.on("click", barclick);


    function barclick(data) {
        // console.log(data.name);


        // var xy = getMousePos();
        // console.log(xy.x + " " + xy.y)
        myChart.setOption({

            series: [{
                data: [
                    {name: data.name, selected: true}
                ]
            }]
        })
    }

    function getMousePos() {
        var e = window.event;
        return {'x': e.screenX, 'y': e.screenY}
    }

</script>
<p style="color: #12eb87"></p>
</body>
</html>