<!DOCTYPE html>
<html>
<head>
    <title>博客系统</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <link href="CSS/templatemo_style.css" rel="stylesheet" type="text/css"/>
    <style>
        a {
            cursor: pointer
        }
    </style>
</head>
<body onselectstart="return false">
<div id="templatemo_header">

    <div id="site_title">

        <a>人到中年不得已 保温杯里泡枸杞<br>
            &ensp;&ensp;枸杞难挡岁月催 还得往里加当归</a>
        <a></a>

    </div> <!-- end of site_title -->

    <div id="header_right">


        <div id="newsletter_box">
            <div class="leftclass1">
            今日浏览人数：0 <br>
            历史浏览人数：还是0
            </div>
        </div>

    </div>

    <div class="cleaner"></div>

</div>

<div id="templatemo_menu_wrapper">

    <div id="templatemo_menu">
        <ul>
            <li><a class="current" onclick="toUrl(this,'main')"><span></span>首页</a></li>
            <li><a onclick="toUrl(this,'notes')"><span></span>日记/周记/月记</a></li>
            <li><a onclick="toUrl(this,'comments')"><span></span>留言板</a></li>
            <li><a onclick="toUrl(this,'AboutMe')"><span></span>关于我</a></li>
            <!--<li><a href="#"><span></span>Inspirations</a></li>-->
            <!--<li><a href="#"><span></span>Flash Files</a></li>-->
        </ul>
    </div>
</div> <!-- end of templatemo_menu -->


<div id="templatemo_main"><span class="tm_bottom"></span>

    <div id="templatemo_content">

        <iframe src="" id="iframe1" scrolling="auto" frameborder="0"
                allowTransparency="true"></iframe>

    </div>

    <div id="templatemo_sidebar">
        <div class="sidebar_box">
            <h3>分类</h3>
            <div class="sb_content">
                <a href="#" style="font-size:15px">前端</a>
                <a href="#" style="font-size:10px">后端</a>
                <a href="#" style="font-size:20px">日常</a>
            </div>
        </div>

        <div class="sidebar_box">
            <h3>链接</h3>
            <div class="sb_content">
                <ul class="sidebar_menu">
                    <li><a href="https://www.fuckbaidu.vip/">百度</a></li>
                </ul>
            </div>
        </div>

    </div> <!-- end of main -->
    <div class="cleaner"></div>
</div>
<div id="templatmeo_bottom">
    <div class="bottom_box">
        <h5><span>号外！</span>深圳一程序员选择的死法竟然是饿死！</h5>
        <p>广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！</p>
        <a href="./?page=3" class="continue">联系我</a>
    </div>
    <div class="bottom_box">
        <h5><span>号外！</span>深圳一程序员选择的死法竟然是饿死！</h5>
        <p>广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！</p>
        <a href="./?page=3" class="continue">联系我</a>
    </div>
    <div class="bottom_box">
        <h5><span>号外！</span>深圳一程序员选择的死法竟然是饿死！</h5>
        <p>广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！广告位招租！求你们了QAQ！</p>
        <a href="./?page=3" class="continue">联系我</a>
    </div>



</div>
<div id="templatemo_footer">

    <ul class="footer_menu">
        <li class="first"><a href="./?page=0">首页</a></li>
        <li class="first"><a href="./?page=1">日记</a></li>
        <li class="first"><a href="./?page=2">留言</a></li>
        <li class="first"><a href="./?page=3">关于我</a></li>
    </ul>

    © 2019 <a href="./">不当人</a>

</div>
<script src="/JS/lib/jquery/jquery-1.8.0.min.js"></script>
<script src="/JS/index/index.js"></script>
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css"/>
<script>

</script>

</body>
</html>



